@use "Common"
	
.Folder
	width: 100%

	
.FolderItem
	min-height: 35px
	user-select: none
	display: grid
	grid-template-columns: 40px minmax(150px, auto) 100px 120px
	margin: 0 20px
	& img
		width: 20px
		height: 20px
		place-self: center
	& div
		align-self: center
		white-space: nowrap
		overflow: hidden
		text-overflow: ellipsis
		

.FolderItem.selected
	color: white
	background-color: Common.$SystemBlue
	border-radius: 5px
	& img
		filter: invert(100%)
		

.FolderHeader
	border-bottom: 1px solid lightgray
	font-weight: 500
	margin: 5px 0
	padding: 0 20px
