@use "Common"
	
.Folder
	border-collapse: collapse
	border-spacing: 0
	width: 100%

.FolderList
	margin:0
	padding: 0
	text-indent: 0
	
.FolderItem
	text-align: left
	height: 35px
	user-select: none
	& img
		width: 20px
		height: 20px
		display: block
		margin-left: auto	
		margin-right: auto
		

.FolderHeader
	border-radius: 0
	margin: 0
	margin-bottom: 5px
	height: 35px
	border-bottom: 1px solid lightgray