@use "Common"
	
.icon 
	padding: 10px
	position: absolute
	@include Common.flex-and-center
	flex-direction: column
	user-select: none
	text-align: center
	background: none
	width: 100px
	& img 
		width: 50px
		padding: 5px
		margin-bottom: 2px
	& p
		margin: 0
		padding: 3px
	&.active img
		border-radius: 5px
		background-color: lightgray
	&.active p
		border-radius: 5px
		color: white
		background-color: Common.$SystemBlue

