.System
	width: 100%
	height: 100vh
	font-family: sans-serif

.Desktop
	width: 100%
	height: calc(100% - 42px)

.Taskbar
	height: 40px
	width: 100%
	border-top: 2px solid black
	background-color: white
	position: absolute

.Task
	height: 40px
	min-width: 70px
	/* transition-duration: 0.4s */
	&:hover 
		background-color: lightblue
	border: 0
	border-right: 2px solid black